@model ResultEFProductModel


<form id="product-form" method="post" enctype="multipart/form-data" >
	<div class="p-r-50 p-t-5 p-lr-0-lg">
		<h4 class="mtext-105 cl2 js-name-detail p-b-14">
			@Model.ProductName
		</h4>
		<input type="hidden" name="productId" value="@Model.ProductId" />
		<span class="mtext-106 cl2">
			@Model.Price TL
		</span>

		<p class="stext-102 cl3 p-t-23">
			@Model.Description
		</p>

		<input type="hidden" name="productId" value="@Model.ProductId" />
		<!--  -->
		<div class="p-t-33">
			

			<div class="flex-w flex-r-m p-b-10">
				<div class="size-203 flex-c-m respon6">
					Renk
				</div>

				<div class="size-204 respon6-next">
					<div class="rs1-select2 bor8 bg0">
						<select class="js-select2" name="colorId" id="colorId">
							@foreach (var color in Model.Colors)
							{
								<option value="@color.Id">@color.ColorName</option>
							}
						</select>
						<div class="dropDownSelect2"></div>
					</div>
				</div>
			</div>


			<div class="flex-w flex-r-m p-b-10">
				<div class="size-203 flex-c-m respon6">
					Beden
				</div>
				<div class="size-204 respon6-next">
					<div class="rs1-select2 bor8 bg0">
						<select class="js-select2" name="sizeId" id="sizeId">
							<option value="">Lütfen önce bir renk seçiniz</option>
						</select>
						<div class="dropDownSelect2"></div>
					</div>
				</div>
			</div>


			<div class="flex-w flex-r-m p-b-10">
				<div class="size-204 flex-w flex-m respon6-next">
					<div class="wrap-num-product flex-w m-r-20 m-tb-10">
						<div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
							<i class="fs-16 zmdi zmdi-minus"></i>
						</div>

						<input class="mtext-104 cl3 txt-center num-product" type="number" name="quantity" value="1" min="1">

						<div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
							<i class="fs-16 zmdi zmdi-plus"></i>
						</div>
					</div>

					<button type="submit" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail">
						Sepete Ekle
					</button>
				</div>
			</div>
		</div>

		<!--  -->
		<div class="flex-w flex-m p-l-100 p-t-40 respon7">
			<div class="flex-m bor9 p-r-10 m-r-11">
				<a href="~/cozastore-master/#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 js-addwish-detail tooltip100" data-tooltip="Add to Wishlist">
					<i class="zmdi zmdi-favorite"></i>
				</a>
			</div>

			<a href="~/cozastore-master/#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Facebook">
				<i class="fa fa-facebook"></i>
			</a>

			<a href="~/cozastore-master/#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Twitter">
				<i class="fa fa-twitter"></i>
			</a>

			<a href="~/cozastore-master/#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Google Plus">
				<i class="fa fa-google-plus"></i>
			</a>
		</div>
	</div>
</form>


<script>

	$(document).ready(function () {
        $('#colorId').on('change', function () {
            var colorId = $(this).val();
            var productId = $('input[name="productId"]').val();

            // Eğer renk seçilmemişse boş bırak
            if (!colorId) {
                $('#sizeId').html('<option value="">Lütfen bir renk seçiniz</option>');
                return;
            }

            // API çağrısı
            $.ajax({
                type: 'GET',
                url: `https://localhost:7171/api/EFProducts/GetByProductandColorIdResultAll/${productId}/${colorId}`,
                success: function (response) {
                    if (response && response.length > 0) {
                        // Gelen verilerle boyutları doldur
                        var options = '';
                        response.forEach(function (item) {
                            options += `<option value="${item.id}">${item.sizeName}</option>`;
                        });
                        $('#sizeId').html(options);
                    } else {
                        $('#sizeId').html('<option value="">Bu renk için beden bulunamadı</option>');
                    }
                },
                error: function () {
                    $('#sizeId').html('<option value="">Boyutlar yüklenirken bir hata oluştu</option>');
                }
            });
        });
    });

	$(document).ready(function () {
		$('#product-form').on('submit', function (e) {
			e.preventDefault(); // Formun varsayılan davranışını engelle

			var formData = new FormData(this);

			$.ajax({
				type: 'POST',
				url: '@Url.Action("AddToCart", "Cart")',
				data: formData,
				contentType: false,
				processData: false,
				success: function (response) {
					if (response.success) {
						// Başarılı ise yönlendirme yap
						window.location.href = response.redirectUrl;
					} else {
						// Hata mesajlarını ilgili alanlarda göster
						$.each(response.errors, function (key, value) {
							var errorSpan = $('input[name="' + key + '"]').next('span');
							errorSpan.text(value);
						});

						// Genel bir hata mesajı varsa, onu da göster
						if (response.errors.General) {
							$('#alert-container').html('<div class="alert alert-danger">' + response.errors.General + '</div>');
						}
					}
				},
				error: function () {
					$('#alert-container').html('<div class="alert alert-danger">Bilinmeyen bir hata oluştu.</div>');
					setTimeout(function () {
						$('#alert-container').html(''); // Mesajı temizler
					}, 5000); // 5000 milisaniye = 5 saniye
				}
			});
		});
	});


</script>