@model CreateProducthasSizeModel
@{
    ViewData["Title"] = "CreateProducthasSize";
    Layout = "~/Areas/Admin/Views/AdminUILayout/Index.cshtml";
    var colors = ViewBag.Colors as List<ResultEFProducthasColorModel>;
    var size = ViewBag.Sizes as List<SizeResult>;

}

<link rel="stylesheet" type="text/css" href="/Riho-Bootstrap-Admin/admin/assets/css/vendors/quill.snow.css">
<link rel="stylesheet" type="text/css" href="/Riho-Bootstrap-Admin/admin/assets/css/vendors/intltelinput.min.css">
<link rel="stylesheet" type="text/css" href="/Riho-Bootstrap-Admin/admin/assets/css/vendors/tagify.css">
<link rel="stylesheet" type="text/css" href="/Riho-Bootstrap-Admin/admin/assets/css/vendors/flatpickr/flatpickr.min.css">

<div class="page-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div id="alert-container"></div>
                        <form id="product-form">
                            <div class="form theme-form">
                                @foreach (var color in colors)
                                {
                                    <div class="row color-group">
                                        <div class="col">
                                            <div class="mb-3">
                                                <label class="form-label" for="size-select-@color.Id">@color.ColorName</label>
                                                <input type="hidden" name="ProducthasColorId" value="@color.Id" />
                                                <select class="form-select input-air-primary digits size-select" id="size-select-@color.Id" name="SizeId" multiple="">
                                                    @foreach (var item in size)
                                                    {
                                                        <option value="@item.Id">@item.SizeName</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                }
                                <div class="row">
                                    <div class="col text-end">
                                        <button type="submit" class="btn btn-success me-3">Ekle</button>
                                        <a class="btn btn-danger" href="/Admin/Product/Index">İptal</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/Riho-Bootstrap-Admin/admin/assets/js/jquery.min.js"></script>
<!-- Bootstrap js-->
<script src="/Riho-Bootstrap-Admin/admin/assets/js/bootstrap/bootstrap.bundle.min.js"></script>
<!-- feather icon js-->
<script src="/Riho-Bootstrap-Admin/admin/assets/js/icons/feather-icon/feather.min.js"></script>
<script src="/Riho-Bootstrap-Admin/admin/assets/js/icons/feather-icon/feather-icon.js"></script>
<!-- scrollbar js-->
<script src="/Riho-Bootstrap-Admin/admin/assets/js/scrollbar/simplebar.js"></script>
<script src="/Riho-Bootstrap-Admin/admin/assets/js/scrollbar/custom.js"></script>
<!-- Sidebar jquery-->
<script src="/Riho-Bootstrap-Admin/admin/assets/js/config.js"></script>
<!-- Plugins JS start-->
<script src="/Riho-Bootstrap-Admin/admin/assets/js/sidebar-menu.js"></script>
<script src="/Riho-Bootstrap-Admin/admin/assets/js/sidebar-pin.js"></script>
<script src="/Riho-Bootstrap-Admin/admin/assets/js/slick/slick.min.js"></script>
<script src="/Riho-Bootstrap-Admin/admin/assets/js/slick/slick.js"></script>
<script src="/Riho-Bootstrap-Admin/admin/assets/js/header-slick.js"></script>

<!-- Plugins JS Ends-->
<!-- Theme js-->
<script src="/Riho-Bootstrap-Admin/admin/assets/js/script.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#product-form').on('submit', function (e) {
            e.preventDefault();

            const colorGroups = $('.color-group');
            const models = [];

            colorGroups.each(function () {
                const colorId = $(this).find('input[name="ProducthasColorId"]').val();
                const selectedSizes = $(this).find('select[name="SizeId"]').val();
                const productId = @ViewBag.ProductId;
                

                if (selectedSizes && selectedSizes.length > 0) {
                    models.push({
                        ProducthasColorId: colorId,
                        SizeId: selectedSizes,
                        ProductId: productId
                    });
                }
            });

            if (models.length === 0) {
                $('#alert-container').html('<div class="alert alert-danger">Lütfen en az bir renk ve boyut seçin.</div>');
                setTimeout(function () {
                    $('#alert-container').html('');
                }, 5000);
                return;
            }

            $.ajax({
                type: 'POST',
                url: '/Admin/ProducthasSize/CreateProducthasSize',
                contentType: 'application/json',
                data: JSON.stringify(models),
                success: function (response) {
                    if (response.success) {
                        window.location.href = response.redirectUrl;
                    } else {
                        $('#alert-container').html('<div class="alert alert-danger">Hata: ' + response.errors + '</div>');
                    }
                },
            error: function () {
                $('#alert-container').html('<div class="alert alert-danger">Bilinmeyen bir hata oluştu.</div>');
                setTimeout(function () {
                        $('#alert-container').html('');
                }, 5000);
                }
        });
        });
    });
</script>
